@import url('https://fonts.googleapis.com/css?family=Montserrat:800|Open+Sans:400,700');

body{
    font-family: 'Open Sans';
    background-color: #333;
    color: white;
}

h1, h2, h3, h4{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 2em;
}