@import url('https://fonts.googleapis.com/css?family=Montserrat:800|Open+Sans:400,700');

*::selection{
    background-color: #123456;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0;
}

.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100%;
    margin: 0;
    background-color: #222;
}

h1, h2, h3, h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2em;
}

/*NAVIGATION*/
nav{

    display: flex;
    justify-content: space-around;
    margin: 2%;
    opacity: 0.1;
    transform: translateY(20px);
    transition: transform 1s ease, opacity 1s ease;

}
nav.active{
    opacity: 1;
    transform: translateY(0);
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    position: relative;
}



#svg_text{
    margin: 0 auto;
    max-width: 500px;
}

#logo{
    height: 170px;
    margin: 10%;
}

#content{
    padding: 4%;
    padding-top: 1%;
    background-color: #DDD;
    color: #666;
}
